<div class="col-md-3 site-sidebar-content">
    <aside class="sidebar">
        <section class="widget widget-advance-search advance-search">
            <h3 class="advance-search-widget-title"><i class="fa fa-search"></i>Find Your Home</h3>
            <form class="advance-search-form" action="#" method="get">
                <div class="row field-wrap">
                    <div class="option-bar col-xs-12 property-location">
                        <select name="location" id="location" class="search-select">
                            <option value="any">Location (Any)</option>
                            <option value="miami">Miami</option>
                            <option value="little-havana">- Little Havana</option>
                            <option value="perrine">- Perrine</option>
                            <option value="doral">- Doral</option>
                        </select>
                    </div>
                    <div class="option-bar col-xs-12 property-type">
                        <select name="type" id="select-property-type" class="search-select">
                            <option value="any" selected="selected">Property Type (Any)</option>
                            <option value="commercial"> Commercial</option>
                            <option value="office">-  Office</option>
                            <option value="shop">-  Shop</option>
                            <option value="residential"> Residential</option>
                            <option value="apartment">-  Apartment</option>
                            <option value="apartment-building">-  Apartment Building</option>
                            <option value="condominium">-  Condominium</option>
                            <option value="single-family-home">-  Single Family Home</option>
                            <option value="villa">-  Villa</option>
                        </select>
                    </div>
                    <div class="option-bar col-xs-12 property-status">
                        <select name="status" id="select-status" class="search-select">
                            <option value="any" selected="selected">Property Status (Any)</option>
                            <option value="for-rent"> For Rent</option>
                            <option value="for-sale"> For Sale</option>
                        </select>
                    </div>
                    <div class="option-bar col-xs-12 property-keyword">
                        <input type="text" name="keyword" id="keyword-txt" value="" placeholder="Keyword">
                    </div>
                    <div class="option-bar col-xs-12 property-id">
                        <input type="text" name="property-id" id="property-id-txt" value="" placeholder="Property ID">
                    </div>
                    <div class="option-bar col-xs-12 property-bedrooms">
                        <select name="bedrooms" id="select-bedrooms" class="search-select">
                            <option value="any" selected="selected">Min Beds (Any)</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="option-bar col-xs-12 property-bathrooms">
                        <select name="bathrooms" id="select-bathrooms" class="search-select">
                            <option value="any" selected="selected">Min Baths (Any)</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="option-bar col-xs-12 property-min-price">
                        <select name="min-price" id="select-min-price" class="search-select">
                            <option value="any" selected="selected">Min Price (Any)</option>
                            <option value="1000">$1,000</option>
                            <option value="5000">$5,000</option>
                            <option value="10000">$10,000</option>
                            <option value="50000">$50,000</option>
                            <option value="100000">$100,000</option>
                            <option value="200000">$200,000</option>
                            <option value="300000">$300,000</option>
                            <option value="400000">$400,000</option>
                            <option value="500000">$500,000</option>
                            <option value="600000">$600,000</option>
                            <option value="700000">$700,000</option>
                            <option value="800000">$800,000</option>
                            <option value="900000">$900,000</option>
                            <option value="1000000">$1,000,000</option>
                            <option value="1500000">$1,500,000</option>
                            <option value="2000000">$2,000,000</option>
                            <option value="2500000">$2,500,000</option>
                            <option value="5000000">$5,000,000</option>
                        </select>
                    </div>
                    <div class="option-bar col-xs-12 property-max-price">
                        <select name="max-price" id="select-max-price" class="search-select">
                            <option value="any" selected="selected">Max Price (Any)</option>
                            <option value="5000">$5,000</option>
                            <option value="10000">$10,000</option>
                            <option value="50000">$50,000</option>
                            <option value="100000">$100,000</option>
                            <option value="200000">$200,000</option>
                            <option value="300000">$300,000</option>
                            <option value="400000">$400,000</option>
                            <option value="500000">$500,000</option>
                            <option value="600000">$600,000</option>
                            <option value="700000">$700,000</option>
                            <option value="800000">$800,000</option>
                            <option value="900000">$900,000</option>
                            <option value="1000000">$1,000,000</option>
                            <option value="1500000">$1,500,000</option>
                            <option value="2000000">$2,000,000</option>
                            <option value="2500000">$2,500,000</option>
                            <option value="5000000">$5,000,000</option>
                            <option value="10000000">$10,000,000</option>
                        </select>
                    </div>
                    <div class="option-bar col-xs-12 property-min-area">
                        <input type="text" name="min-area" id="min-area" pattern="[0-9]+" value="" placeholder="Min Area (sq ft)" title="Please only provide digits!">
                    </div>
                    <div class="option-bar col-xs-12 property-max-area">
                        <input type="text" name="max-area" id="max-area" pattern="[0-9]+" value="" placeholder="Max Area (sq ft)" title="Please only provide digits!">
                    </div>
                    <div class="option-bar col-xs-12 submit-btn-wrappe">
                        <input type="submit" value="Search" class="form-submit-btn">
                    </div>
                </div>
                <!-- .field-wrap -->
                <div class="extra-search-fields">
                    <h5 class="title"><span class="text-wrapper">Looking for certain features</span></h5>
                    <ul class="features-checkboxes-wrapper list-unstyled clearfix">
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-2-stories" value="2-stories"><label for="feature-2-stories">2 Stories<small>(6)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-26-ceilings" value="26-ceilings"><label for="feature-26-ceilings">26' Ceilings<small>(1)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-bike-path" value="bike-path"><label for="feature-bike-path">Bike Path<small>(1)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-central-cooling" value="central-cooling"><label for="feature-central-cooling">Central Cooling<small>(4)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-central-heating" value="central-heating"><label for="feature-central-heating">Central Heating<small>(3)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-dual-sinks" value="dual-sinks"><label for="feature-dual-sinks">Dual Sinks<small>(5)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-electric-range" value="electric-range"><label for="feature-electric-range">Electric Range<small>(5)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-emergency-exit" value="emergency-exit"><label for="feature-emergency-exit">Emergency Exit<small>(2)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-fire-alarm" value="fire-alarm"><label for="feature-fire-alarm">Fire Alarm<small>(3)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-fire-place" value="fire-place"><label for="feature-fire-place">Fire Place<small>(4)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-home-theater" value="home-theater"><label for="feature-home-theater">Home Theater<small>(3)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-hurricane-shutters" value="hurricane-shutters"><label for="feature-hurricane-shutters">Hurricane Shutters<small>(1)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-jog-path" value="jog-path"><label for="feature-jog-path">Jog Path<small>(1)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-laundry-room" value="laundry-room"><label for="feature-laundry-room">Laundry Room<small>(3)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-lawn" value="lawn"><label for="feature-lawn">Lawn<small>(5)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-marble-floors" value="marble-floors"><label for="feature-marble-floors">Marble Floors<small>(5)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-next-to-busy-way" value="next-to-busy-way"><label for="feature-next-to-busy-way">Next To Busy Way<small>(1)</small></label></span></li>
                        <li><span class="option-set"><input type="checkbox" name="features[]" id="feature-swimming-pool" value="swimming-pool"><label for="feature-swimming-pool">Swimming Pool<small>(4)</small></label></span></li>
                    </ul>
                </div>
                <!-- .extra-search-fields -->
            </form>
            <!-- .advance-search-form -->
        </section>
        <section class="widget widget-featured-properties">
            <h3 class="widget-title">Featured Properties</h3>
            <ul class="widget-featured-properties">
                <li>
                    <figure class="featured-properties-thumbnail">
                        <span class="price">$4,750 Monthly</span>
                        <a href="property-single.html"><img class="img-responsive" src="images/property/property-2-850x570.jpg" alt="Thumbnail"></a>
                    </figure>
                    <h4 class="featured-properties-title"><a href="property-single.html">Villa on Grand Avenue</a></h4>
                    <p>Spacious and fabulous home in prime location. This executive style four bed,… <a href="#" class="read-more-link">Know More</a></p>
                </li>
                <li>
                    <figure class="featured-properties-thumbnail">
                        <span class="price">$850,000</span>
                        <a href="property-single.html"><img class="img-responsive" src="images/property/property-3-850x570.jpg" alt="Thumbnail"></a>
                    </figure>
                    <h4 class="featured-properties-title"><a href="property-single.html">Home in Coral Gables</a></h4>
                    <p>Elegant retreat in a quiet Coral Gables setting. This home provides wonderful… <a href="#" class="read-more-link">Know More</a></p>
                </li>
            </ul>
        </section>
    </aside>
    <!-- .sidebar -->
</div>
<!-- .site-sidebar-content -->